<h2 class='text-4xl font-semibold font-serif my-6 text-center'>Public Recipes</h2>

<div id="public-recipes", class='flex flex-col gap-6'>
  <% @recipes.each do |recipe| %>
    <%= render 'recipe_preview', recipe: recipe %>
  <% end %>
</div>

