<% @foods.each do |food| %>
  <p>
    <%= food.food.name %>
  </p>
  <p>
    <%= food.quantity %>
  </p>
  <p>
    <%= food.food.measurement_unit %>
  </p>
  <p>
    <%= food.food.price.round(2) %>
  </p>
<% end %>