
<div class='flex justify-between'>
  <%= link_to "Back to foods", foods_path, class:'border rounded bg-neutral-200 px-2 py-1 hover:bg-neutral-400 my-6' %>
</div>

<h2 class='text-4xl font-semibold font-serif text-center'>New food</h2>

<%= render "form", food: @food %>